@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oscuro {
    background-color: $colorTerciario;
    color: $colorSecundario;
    font-family: $fuentePrincipal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;


    h5 {
        background-color: $colorTerciario;
        color: $colorSecundario;
        font-family: $fuentePrincipal;
    }

    p {
        background-color: $colorTerciario;
        color: $colorSecundario;
        font-family: $fuentePrincipal;
    }

    .card-body {
        background-color: $colorTerciario;
    }

}

.oscuro1 {
    background-color: $colorTerciario;
    color: $colorSecundario;
    font-family: $fuentePrincipal;



    h5 {
        background-color: $colorTerciario;
        color: $colorSecundario;
        font-family: $fuentePrincipal;
    }

    p {
        background-color: $colorTerciario;
        color: $colorSecundario;
        font-family: $fuentePrincipal;
    }

    .card-body {
        background-color: $colorTerciario;
    }

}

.claro1 {
    background-color: white;
    color: $colorTerciario;
    font-family: $fuentePrincipal;


    h5 {
        background-color: white;
        color: $colorTerciario;
        font-family: $fuentePrincipal;
    }

    p {
        background-color: white;
        color: $colorTerciario;
        font-family: $fuentePrincipal;
    }

    .card-body {
        background-color: white;
    }

}

.divEstrenos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}


.divCarterlera {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;

}




h1 {
    // color: $colorPrincipal;
    font-family: $fuentePrincipal;
    text-align: center;
}

h2 {
    font-family: $fuentePrincipal;
    text-align: center;
}