.oscuro {
    background-color: black;
    color: white;

    h5 {
        background-color: black;
        color: white;
    }

    p {
        background-color: black;
        color: white;
    }

    .card-body {
        background-color: black;
    }

}

.claro {
    background-color: white;
    color: black;

    h5 {
        background-color: white;
        color: black;
    }

    p {
        background-color: white;
        color: black;
    }

    .card-body {
        background-color: white;
    }

}