
@import "_variables.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.oscuro {
    background-color: black;
    color: white;

    h5 {
        background-color: black;
        color: white;
    }

    p {
        background-color: black;
        color: white;
    }

    .card-body {
        background-color: black;
    }

}

.claro {
    background-color: white;
    color: black;

    h5 {
        background-color: white;
        color: black;
    }

    p {
        background-color: white;
        color: black;
    }

    .card-body {
        background-color: white;
    }

}

.colorBoton {
    background-color: aquamarine;
}

.divCarterlera{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}




h1 {
    // color: $colorPrincipal;
    font-family: $fuentePrincipal;
    text-align: center;
}

h2 {
    font-family: $fuentePrincipal;
    text-align: center;
}




