* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.oscuro {
  background-color: black;
  color: white; }
  .oscuro h5 {
    background-color: black;
    color: white; }
  .oscuro p {
    background-color: black;
    color: white; }
  .oscuro .card-body {
    background-color: black; }

.claro {
  background-color: white;
  color: black; }
  .claro h5 {
    background-color: white;
    color: black; }
  .claro p {
    background-color: white;
    color: black; }
  .claro .card-body {
    background-color: white; }

.colorBoton {
  background-color: aquamarine; }

.divCarterlera {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
