* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.oscuro {
  background-color: black;
  color: lavender;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto; }
  .oscuro h5 {
    background-color: black;
    color: lavender;
    font-family: Arial, Helvetica, sans-serif; }
  .oscuro p {
    background-color: black;
    color: lavender;
    font-family: Arial, Helvetica, sans-serif; }
  .oscuro .card-body {
    background-color: black; }

.oscuro1 {
  background-color: black;
  color: lavender;
  font-family: Arial, Helvetica, sans-serif; }
  .oscuro1 h5 {
    background-color: black;
    color: lavender;
    font-family: Arial, Helvetica, sans-serif; }
  .oscuro1 p {
    background-color: black;
    color: lavender;
    font-family: Arial, Helvetica, sans-serif; }
  .oscuro1 .card-body {
    background-color: black; }

.claro1 {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }
  .claro1 h5 {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif; }
  .claro1 p {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif; }
  .claro1 .card-body {
    background-color: white; }

.divEstrenos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; }

.divCarterlera {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
